<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
    <meta charset="UTF-8">
    <title>密码修改</title>
     <link rel="stylesheet" type="text/css" media="all" href="../../webapp/static/layui/layui.css" th:href="@{/static/layui/css/layui.css}"/>
</head>
<body>
<div style=" position:fixed; left:0;right:0;top:0;bottom:0;margin:auto;width: 300px;height: 200px; text-align: center;overflow: visible">
	<h1 style="font-size: 50px">基本资料修改</h1>
	<div class="layui-upload">
  		<button type="button" class="layui-btn" id="test1">头像图片</button>
 	 	<div class="layui-upload-list">
  		 	 <img style="width:50px;heiht:50px;" class="layui-upload-img" id="demo1">
  			  <p id="demoText"></p>
 		</div>
	</div>   
	
    <form class="layui-form layui-form-pane" style="text-align: right;">
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input type="text" th:value="${session.user.username}" name="username"  lay-verify="require" placeholder="请输入昵称" class="layui-input pass" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-block">
                <input type="password" name="pass" lay-verify="pass" placeholder="请输入原密码" class="layui-input pass" autocomplete="off" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" id="pass1" name="pass1" lay-verify="pass1" placeholder="请输入新密码" class="layui-input" autocomplete="off" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="pass2" lay-verify="pass2" placeholder="请输入新密码" class="layui-input" autocomplete="off" required>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{static/layui/layui.js}" src="../../webapp/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['element','form','jquery','upload'], function(){
        var element = layui.element;
        var form = layui.form,$ = layui.jquery;
        upload = layui.upload;
        
        //普通图片上传
        var uploadInst = upload.render({
          elem: '#test1'
          ,url: '/upload' //改成您自己的上传接口
          ,before: function(obj){
            //预读本地文件示例，不支持ie8
            obj.preview(function(index, file, result){
              $('#demo1').attr('src', result); //图片链接（base64）
            });
          }
          ,done: function(res){
            //如果上传成功
            if(res.code > 0){
            	//将图片传递给父界面
            	window.parent.txurl(res.data);
              return layer.msg('上传成功');
              
            }
          }
          ,error: function(){
            //演示失败状态，并实现重传
            var demoText = $('#demoText');
            demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
            demoText.find('.demo-reload').on('click', function(){
              uploadInst.upload();
            });
          }
        });
        
        form.verify({/*表单提交时的验证*/
        	pass:function(value,item){
        			if(value.length == 0){
        				return "请输入原密码";
        			}
        	}
        	,pass1:[
        	        /^[\S]{6,16}$/
        	        , '密码必须6到16位，且不能出现空格'
        	    ]
     	   ,pass2:function(value,item){
     		  var pass0=$("#pass1").val();
     		   if( pass0!=value){
     			  return "确认密码不正确！！";
     		   }
        }
        });
        form.on('submit(formDemo)',function(data){
        	 $.ajax({
        		url:'/updatePassword',
        		type:'post',
        		datatype:'json',
        		data:data.field,
        		success:function(data){
        			if(data=="true"){
        				alert("修改成功！！！");
        				top.location.href="/tologin";
        			}else{
        				alert("原密码错误！！！");
        			}
        		}
        	 });
        	 return false;
        });
    });
</script>
</body>
</html>